
<div class="sample-rate">
  <h1 style="text-align: center"><%= :name %></h1>
  <i class="fa fa-play-circle-o"></i>
  <div class="slider">
    <input id="rate-slider" data-slider-handle='custom' type="text" data-slider-tooltip="hide"
            data-slider-ticks="[0, 100]" data-slider-ticks-snap-bounds="1" 
            data-slider-value="49"/>
  </div>
</div>