<div class="page-view">
	<h1>Experiments</h1>
		<div class="page">
		<h3>Available</h3>
		<table id="table" >
		    <thead>
		    <tr>
		        <th data-field="name">Name</th>  
		    </tr>
		    </thead>
		</table>
		<h3>Completed</h3>
		<table id="table2">
		    <thead>
		    <tr>
		        <th data-field="name">Name</th>    
		    </tr>
		    </thead>
		</table>
		</div>
</div>