<script type="text/javascript">
  window.experiments = <%= raw @experiments %>;
</script>

<div class="page-view">
	<h1>Experiments</h1>
		<div class="page">
      <%= render 'experiments/create' if is_researcher? %>
      <br/><br/>
      <div>
    		<h3>Available Experiments</h3>
    		<table id="table" >
    		    <thead>
    		    <tr>
    		        <th data-field="name">Name</th>  
    		    </tr>
    		    </thead>
    		</table>
      </div>
		</div>
</div>