<div class="container">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="page-header">
		  <h1>Welcome to TalkBirdy!</h1>
		</div>

		<%= bootstrap_form_tag :action => :authorize do |f| %>
			<%= f.email_field :email, placeholder: 'E-Mail', hide_label: true %>
			<%= f.password_field :password, placeholder: 'Password', hide_label: true %>
			<%= f.submit 'Login' %>
		<% end %>	
	</div>
</div>